header
    background-image: url("../img/sea.jpg")
    height: 1228px
    background-size: contain
    background-repeat: no-repeat
    .small-text
      color: #ffffff
      margin: 10px auto 10px
.logo span
    font-family: "Exo 2"
    color: #fff
.nav
  align-items: center
  display: flex
  justify-content: space-between
  padding-top: 34px
  .nav-list
    display: flex
    gap: 29px
.nav-list a 
  color: #fff
  text-transform: uppercase
  font-family: "Rubik"
  &:hover
    color: #ffb700
.frame
  max-width: 365px
  min-height: 40px
  border: 4px solid rgba(255, 255, 255, 0.292)
.frame-top
  margin: 140px auto 20px
  border-bottom: none
.frame-bottom
  margin: 20px auto 215px
  border-top: none
  display: flex
  justify-content: center
  padding-bottom: 40px
p.dark
  color: #333
.arrowsDown
  text-align: center
  display: block
  margin-top: 40px
  margin-bottom: 40px